<div class="_demo--banner">
	<div class="_demo--container">
		<div class="banner--service-icon-container">
			<img class="banner--service-icon" src="images/icons/piazza.svg" alt="Concept Insight Service Demo Icon">
		</div>
		<div class="banner--service-info">
			<h1 class="banner--service-title base--h1">
				<img class="banner--service-icon_INLINE" src="images/icons/piazza.svg" alt="Concept Insight Service Demo Icon">
				Concept Insights
			</h1>
			<div class="banner--service-description">
				Concept Insights allows you to discover content which may or may not be found using a traditional keyword search.
			</div>
			<div class="banner--service-resource">
				<span class="icon icon-link"></span>
				<strong>Resources:</strong>
			</div>
			<div class="banner--service-links">
				<li class="base--li banner--service-link-item">
					<a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/#!/concept-insights" class="base--a" target="new">API Overview</a>
				</li>
				<li class="base--li banner--service-link-item">
					<a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/concept-insights/" class="base--a" target="new">Documentation</a>
				</li>
				<li class="base--li banner--service-link-item">
					<a href="https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/concept-insights-nodejs.git" class="base--a" target="new">Fork and Deploy on Bluemix</a>
				</li>
				<li class="base--li banner--service-link-item">
					<a href="https://github.com/watson-developer-cloud/concept-insights-nodejs" class="base--a" target="new">Fork on Github</a>
				</li>
			</div>
		</div>
	</div>
</div>