<header class="_demo--heading">
	<div class="_demo--container">
		<a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/">
			<span class="wordmark--left">IBM</span>
			<span class="wordmark--right">Watson Developer Cloud</span>
		</a>
		<nav class="heading-nav">
			<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html">
				Services
			</a>
			<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/">
				Docs
			</a>
			<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html">
				App Gallery
			</a>
			<a class="heading-nav--item" href="https://developer.ibm.com/watson/">
				Community
			</a>
		</nav>
	</div>
</header>
